@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
    font-family: 'Basic', sans-serif !important;
}

.bg-primary {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
}

.btn-primary {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
    border: none !important;
}

h1.text-black {
    color: #020E35 !important;
}

.brand {
    top: 0px;
    position: absolute;
    width: 100px;
    height: 120px;
}

.nav-link.active {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
    border: none !important;
    color: #fff !important;
}

.heading {
    font-size: 97px;
}

.img-main {
    position:absolute;
    right: 0px !important;
    height: 565px;
}

hr {
    border: 3px solid #E73587 !important;
    border-radius: 5px !important;
    width: 100px;
}

#about {
    background: linear-gradient(to top, #020E35 50%, white 0%); 
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 40px;
    }    
}