@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
    font-family: 'Basic', sans-serif !important;
}

.bg-primary {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
}

.btn-primary {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
    border: none !important;
}

h1.text-black {
    color: #020E35 !important;
}

.brand {
    top: 0px;
    position: absolute;
    width: 100px;
    height: 120px;
}

.heading {
    font-size: 97px;
}

.img-main {
    position:absolute;
    right: 0px !important;
}