@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
    font-family: 'Basic', sans-serif !important;
}

.bg-primary {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
}

.btn-primary {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
    border: none !important;
}

h1.text-black {
    color: #020E35 !important;
}

h2.text-black {
    color: #020E35 !important;
}

p.text-black {
    color: #020E35 !important;
}

.brand {
    top: 0px;
    position: absolute;
    width: 100px;
    height: 120px;
}

.nav-link.active {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
    border: none !important;
    color: #fff !important;
}

.heading {
    font-size: 97px;
}

.img-main {
    position:absolute;
    right: 0px !important;
    height: 565px;
}

hr {
    border: 3px solid #E73587 !important;
    color: #E73587 !important;
    border-radius: 5px !important;
    width: 100px;
}

.splide__arrow.splide__arrow--next, .splide__arrow.splide__arrow--prev {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%) !important;
    border: 1px solid #fff !important;
    width: 50px !important;
    height: 50px !important;
}

.arrow-slider {
    height: 20px !important;
}

div.card {
    height: 100%;
}

.card.bg-danger {
    background: #FEEFF0 !important;
}

.card.bg-warning {
    background: #FDF8E3 !important;
}

.card.bg-info {
    background: #F0F3FA !important;
}

.modal-content.bg-danger {
    background: #FEEFF0 !important;
}

.modal-content.bg-warning {
    background: #FDF8E3 !important;
}

.modal-content.bg-info {
    background: #F0F3FA !important;
}

#services {
    background: linear-gradient(to top, #020E35 50%, white 0%); 
}

#portfolio{
    background:#020E35;
}

.contact-heading {
    font-size: 50px;
    color: #020E35;
}

.pink {
    color: #E73587;
}

.footer {
    background: #020E35;
}

h3.text-center {
    color: #020E35;
}

a:link {
    text-decoration: none;
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

@media screen and (max-width: 992px) {
    .heading {
        font-size: 40px;
    }    
    
    #home {
        background-image: url('../assets/svg/BG.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 576px) {
    .heading {
        font-size: 40px;
    }    
    
    #home {
        background-image: url('../assets/svg/BgSmall.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}